.box-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  background: #f3c5f6;
}

.quote-content {
  font-family: 'Merienda', cursive;
  font-size: 28px;
  margin-bottom: 16px;
}

.quote-author {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #252121;
}

.text {
  font-family: 'Merienda';
  text-shadow: rgb(26, 24, 24);
  font-size: 50px;
  margin-bottom: 20px;
}

.new-quote-button {
  background-color: #ff6f47;
  color: white;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  height: 40px;
  border: none;
  padding: 0 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.new-quote-button:hover {
  background-color: #e75d3f;
}
button {

  background-color: blanchedalmond;
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  padding: 0.5rem 1.8rem;
  outline: auto;
  border-radius: 30px;
  display: block;
  margin: 20px auto 20px;

}

.center-heading {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.center-heading h3 {
  font-size: 24px;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: green; }
}
